.head{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.head h1{
    font-size: 24px;
    margin: 6px;
}

.head div.title{
    display: block;
}

.head div.title h1{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    margin: 12px 6px 0px;
}

.head h4{
    font-size: 16px;
    color: blueviolet;
    padding: 0px 8px;
    margin: 0px 2px;
    font-weight: 400;
}

.head .nav{
    display: flex;
    margin: 12px;
    justify-content: space-evenly;
}

.head .nav li{
    margin: 4px 18px;
    list-style: none;
    color: black;
}

.hamburger{
    display: none;
}


@media screen and (max-width: 860px){
    .head .nav{
        display: none;
    }

.hamburger{
    width: 28px;
    height: 28px;
    position: absolute;
    border-radius: 50%;
    top: 28px;
    right: 18px;
    display: inline-block;
}
}