.side-nav{
    display: none;
    width: 100%;
    height: calc(100vh - 100px);
    text-align: center;
    position: absolute;
    top:80px;
    left: 0px;
    background-color: white;
    z-index: 2;

}

.side-nav .avatar{
    text-align: left;
    display: flex;
}

.side-nav ul{
    list-style: none;
    padding: 0px;
}

.side-nav li{
    width: 100%;
    padding: 8px;
    color: black;
}

.side-nav li:hover{
    /* background-color: rgba(255, 255, 255, 0.071); */
}

.side-nav .icn{
    font-size: 42px;
    margin-top: 35px;
    color: rgba(0, 0, 0, 0.344);
}

.side-nav .icn:hover{
    transition: 400ms;
    color: rgba(0, 0, 0, 0.682);
}

@media screen and (max-width: 860px){
    .side-nav{
        display: inline-block;
    }
    
}