.portfolio .avatar{
    margin-top: 15px;
}

.portfolio .sub-header{
    font-size: 16px;
    font-weight: 550;
    text-align: left;
    display: block;
}

.scrollable{
    width: 98%;
    display: inline-flex;
    overflow-x: scroll;
    box-sizing: border-box;
}

.portfolio{
    box-sizing: border-box;
    width: 100%;
}

*{
    box-sizing: border-box;
}

.portfolio textarea{
    width: 98%;
    max-width: 450px;
    background: none;
    border: 0.8px solid rgb(46, 46, 46);
    border-radius: 4px;
}

.portfolio textarea:focus{
    outline: none;
}

.portfolio button.message{
    display: inline-block;
    margin: 6px 2px;
    max-width: 450px;
    width: 98%;
    font-size: 16px;
    font-weight: 550;
    padding: 10px 8px;
    border: none;
    border-radius: 4px;
    background-color: purple;

}