.portfolio .avatar{
    margin-top: 15px;
}

.portfolio .sub-header{
    font-size: 18px;
    font-weight: 550;
    text-align: left;
    display: block;
    color: rgba(0, 0, 0, 0.897);
    font-family: 'Times New Roman', Times, serif;
}


.portfolio{
    box-sizing: border-box;
    width: 100%;
}

*{
    box-sizing: border-box;
}

.portfolio textarea{
    width: 98%;
    max-width: 450px;
    background: none;
    border: 0.8px solid rgb(193, 193, 193);
    border-radius: 4px;
    padding: 8px;
}

.portfolio .certifications{
    text-align: center;
}

.portfolio textarea:focus{
    outline: none;
}

.portfolio .projects{
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.portfolio button.message{
    display: inline-block;
    margin: 6px 2px;
    max-width: 450px;
    width: 98%;
    font-size: 16px;
    font-weight: 550;
    padding: 10px 8px;
    border: none;
    border-radius: 4px;
    background-color: purple;
    color: white;

}

.portfolio .writeup{
    box-sizing: border-box;
    padding: 8px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.745);
    word-break: keep-all;
}

.portfolio .stack{
    display: inline-block;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.087);
    text-align: left;
    padding: 16px;
    background-color: white;
    margin: 16px;
    vertical-align: top;
    width: 95%;
    max-width: 350px;
    box-sizing: border-box;
}

.portfolio .stack li{
    list-style: none;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.portfolio .stack .icn{
    font-size: 28px;
    margin-top: 14px;
}

.portfolio .stack h1{
    font-size: 18px;
    padding: 8px 0px;
    margin: 4px 0px;
    font-weight: 480;
}

.portfolio .technologies{
    text-align: center;
    position: relative;
    box-sizing: border-box;
}