.project{
    box-sizing: border-box;
    padding: 8px;
    margin-top: 24px;
    display: inline-block;
    width: 100%;
    position: relative;
    vertical-align: top;
    box-sizing: border-box;
}

.project .image-wrapper{
    width: 98%;
    max-width: 450px;
    display: inline-block;
    box-sizing: border-box;
}

.project .image-wrapper img{
    width: 100%;
    display: inline-block;
}

.project .image-wrapper ul{
    display: inline-block;
    padding: 0px;
    margin: 8px 0px 16px;
}

.project .image-wrapper li{
    display: inline-block;
    margin: 8px 6px;
    padding: 4px 12px;
    background-color: rgba(0, 0, 0, 0.123);
    font-size: 14px;
    border-radius: 18px;
}

.project .texts-wrapper{
    display: inline-block;
    margin-left: 16px;
    width: 95%;
    max-width: 450px;
    box-sizing: border-box;
    vertical-align: top;
}

.project .texts-wrapper h1{
    margin: 4px 4px 12px;
    font-size: 16px;
    font-weight: 500;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.project .texts-wrapper p{
    margin: 4px 4px 8px;
    font-size: 14px;
    font-weight: 380;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.598);
    word-wrap: break-word;
}

.project .link{
    margin: 4px 8px;
    padding: 4px;
    align-content: center;
    position: relative;
}

.project .link .icn{
    font-size: 18px;
    top: 3px;
    position: relative;
}

.project .link a{
    margin: 8px;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 430;
    color: rgb(103, 103, 252);
    cursor: pointer;
    word-wrap: break-word;
}
